/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
  }
  *,
  *:before,
  *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
  }
  :focus,
  :active {
	outline: none;
  }
  a:focus,
  a:active {
	outline: none;
  }
  
  nav,
  footer,
  header,
  aside {
	display: block;
  }
  
  html,
  body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
  }
  input,
  button,
  textarea {
	font-family: inherit;
  }
  
  input::-ms-clear {
	display: none;
  }
  button {
	cursor: pointer;
  }
  button::-moz-focus-inner {
	padding: 0;
	border: 0;
  }
  a,
  a:visited {
	text-decoration: none;
  }
  a:hover {
	text-decoration: none;
  }
  ul li {
	list-style: none;
  }
  img {
	vertical-align: top;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
	font-size: inherit;
	font-weight: 400;
  }
  /*--------------------*/
  
  .bigred {
	font-size: 20px;
	color: red;
  }
  
  /*Обнуление*/
  
  * {
	color: black;
	cursor: none;
  }

  /* оставляет только то что входит в область */
  html, body {
	  width:100%; 
	  overflow-x:hidden
	} 


body {
	font-family: "Nunito", sans-serif;
	font-size: 1.5vw;
}

p {
	padding-left: 6vw;
	padding-right: 6vw;
	padding-bottom: 2vw;
}

h2{
	padding-top: 5vw;
	padding-bottom: 3vw;
	font-size: 2vw;
	padding-left: 6vw;
	padding-right: 6vw;
}

header {
	display: flex;
	justify-content: center; 
}

nav {
	font-size: 1.2vw;
	height: 3.2vw;
	background-color: rgb(255, 255, 255);
	width: 100%;
	position: fixed;
	z-index: 3;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.offer {
	margin-top: 2.2vw;
	width: 60%;
	height: auto;
	background: rgb(2,0,36);
	background: -moz-linear-gradient(71deg, rgba(2,0,36,1) 0%, rgba(27,104,129,1) 0%, rgba(186,139,107,1) 81%);
	background: -webkit-linear-gradient(71deg, rgba(2,0,36,1) 0%, rgba(27,104,129,1) 0%, rgba(186,139,107,1) 81%);
	background: linear-gradient(71deg, rgba(2,0,36,1) 0%, rgba(27,104,129,1) 0%, rgba(186,139,107,1) 81%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#ba8b6b",GradientType=1);
	display: flex;
	flex-flow: column;
	justify-content: space-evenly;
}
  
.photoDiv{
	margin-top: 2.2vw;
	width: 40%;
}
.photo {
	width: 100%;
	background-color: #bb7343;
}

.logo {
	font-family: "Dancing Script", cursive;
	font-size: 2vw;
	margin-left: 6vw;
}


.links {
	display: flex;
	margin-right: 6vw;
}

.link {
	margin-left: 3vw;
	position: relative;
	overflow: hidden;
	padding: 0.5vw 0;
}


.linkline {
	position: absolute;
	display: block;
}

.link:after {
	content: "";
	position: absolute;
	bottom: 0.15vw;
	right: 0;
	width: 0%;
	height: 0.105vw;
	background: rgb(56, 56, 56);
	transition: all 0.32s ease-out;
}

.link:hover:after {
	left: 0;
	width: 100%;
}

h1 {
	padding-left: 6vw;
	padding-right: 6vw;
	color: white;
	line-height: 1.5em;
	font-size: 2.5vw;
}

.name {
	font-size: 4vw;
	color: white;
	font-family: "Dancing Script", cursive;
	margin-left: auto;
	padding-right: 6vw;
	padding-bottom: 0;
	margin-bottom: 0;
}

/*Слайдер начало*/
.photoline {
	margin-top: 3vw;
	width: 100%;
	display: flex;
	padding: 0 1vw;
}

.slidephoto {
	height: 40vw;
	margin: 0 1vw;
	flex: 1;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	border-radius: 1vw;
}
/*Слайдер конец*/


.steps {
	margin: 0vw 1vw;
	padding: 2vw 2vw 0 2vw ;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.step img {
	width: 4vw;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.step {
	width: 15vw;
	display: block;
	text-align: center;
}

.step p {
	padding: 2vw 0;
	margin-left: auto;
	margin-right: auto;
}


.price {
	width: 100%;
	position: relative;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: #fff;

	
}

.tab {
	width: 100%;
	height: 3vw;
}



.price p {
	padding: 0;
	color: #bb7343;
}


.pricefree {
	padding: 3vw 2vw;
	border-radius: 1vw;
	box-shadow: 0.5vw 0.5vw 0.1vw 0.1vw rgba(186,139,107,0.1);
	text-align: center;
	padding: 4.5vw 2vw;
	line-height: 1.5em;
	position: relative;
	z-index: 1;
	font-size: 2vw;
	color: #bb7343;
}

.price1, .price2, .price3 {
	padding: 2vw 2vw;
	border-radius: 1vw;
	box-shadow: 0.5vw 0.5vw 0.1vw 0.1vw rgba(186,139,107,0.1);
}

span {
	font-size: 4vw;
	color: #bb7343;
}



/*Слайдер начало*/
.container {
	width: 100%;
	display: flex;
	padding: 0 1vw;
}

.slide {
	height: 35vw;
	margin: 1vw; 
	color: #fff;
	flex: 1;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	transition: all 1800ms ease-out;
	filter: grayscale(100%);
	border-radius: 1vw;
	opacity: 0.8;
}

.slide:hover {
	filter: none;
}

.slide h3 {
	position: absolute;
	font-size: 2.2vw;
	bottom: 2vw;
	left: 3vw;
	margin: 0;
	opacity: 0;
}
  
.slide.active {
	flex: 10;
	filter: none;
	opacity: 1;
}

.slide.active h3 {
	opacity: 1;
	transition: opacity 0.5s ease-in 0.4s;
}

h3 {
	color: white;
	text-shadow: 0px 0px 10px gray;
}
/*Слайдер конец*/


footer {
	width: 100%;
	height: 7vw;
	background: linear-gradient(100.18deg, #BA8B6B 0.95%, #A86B4C 82.17%);
	display: flex;
	text-align: center;
	margin-top: 1.2vw;
	justify-content: center;
}


h4 {
	padding: 0;
	font-size: 2vw;
	color: white;
	font-family: "Dancing Script", cursive;
	align-self: center;
}


::-webkit-scrollbar {
	width: 4px;
	}
	
::-webkit-scrollbar-track {
	background-color: #ffffff00;
	border-radius: 2px;
	}
	
::-webkit-scrollbar-thumb {
	border-radius: 2px;
	background: linear-gradient(180deg, #00c6fb, #bb7343);
	}

.cursor1 {
	position: fixed;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #bb73438c;
	transform: translate(-50%,-50%);
	pointer-events: none;
	z-index: 100;
	transition: 100ms;
}

.cursor2 {
	position: fixed;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #bb73438c;
	transition: 110ms;
	transform: translate(-50%,-50%);
	pointer-events: none;
	z-index: 100;
}

.cursor3 {
	position: fixed;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #bb734325;
	transform: translate(-50%,-50%);
	pointer-events: none;
	z-index: 99;
	transition: 200ms;
}

.cursor4 {
	position: fixed;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #bb734325;
	transition: 210ms;
	transform: translate(-50%,-50%);
	pointer-events: none;
	z-index: 99;
}


.links a:hover ~ .cursor{
	transform: scale(3)
}



/* 576px */
@media screen  and (max-width: 576px) {

nav {
	font-size: 4vw;
	height: 12vw;
}

.logo {
	font-size: 7vw;
}

.linkOut {
	display: none;
}

.photo {
	display: none;
}

.photoDiv {
	display: none;
}

.offer {
	margin-top: 10vw;
	height: 70vw;
	width: 100%;
	text-align: center;
	background: linear-gradient(71deg, rgba(2,0,36,1) 0%, rgb(24, 24, 24) 0%, rgb(56, 48, 48) 81%);
}

.offer p {
	display: none;
}

h1 {
	font-size: 6vw;
}

.name {
	font-size: 7vw;
}

h2{
	padding-top: 10vw;
	font-size: 5vw;
}

p {
	font-size: 4vw;
	padding-top: 4vw;
}

.steps {
	display: none;
}

.price p{
	color: black;
}

.price p{
	color: black;
}

.slide h3 {
	font-size: 4vw;
}

h4 {
	font-size: 5vw;
}

footer {
	height: 20vw;
	background: linear-gradient(71deg, rgba(2,0,36,1) 0%, rgb(24, 24, 24) 0%, rgb(56, 48, 48) 81%);
}

.cursor1 .cursor2 .cursor3 .cursor4 {
	display: none;
}

}
